textarea{
    font-style: italic;
    font-weight: 100;
    font-family: 'Times New Roman', Times, serif;
    font-display:initial;
    background-color: antiquewhite;
}
#div{
    background-color: aqua;
    height:400px;
    width: 50%;
    margin-left: 25%;
    margin-top: 10%;
}
#div2{
    background-color: yellow;
}
*{
    background-color:cornflowerblue;
}
